transformers==4.18.0
small-text[transformers]==1.0.0b4
numba
torch
torchtext
numpy
matplotlib==3.4.2
seaborn==0.11.2
pandas==1.4.2
wheel
ujson
lxml
beautifulsoup4
stopwordsiso
textacy
nltk
pytorch_lightning==1.6.3
resiliparse
typing_extensions==4.4.0
